<div class="container w-8/12  mx-auto max-w-screen-lg m-auto md:m-auto flex py-10 flex-col">
  <div class="w-5/5 text-center py-5">
    <%= yield :title %>
  </div>
  <div class="flex w-5/5 mx-auto flex-col">
    <%= yield :primary_content %>
  </div>
</div>
